.home-section {
  display: flex;
  min-height: 100vh;
}

.section-panel {
  display: flex;
  flex-direction: column;
  margin-top: 84px;
  max-width: 50%;
  flex-grow: 1;
}

.panel-left {
  text-align: left;
  justify-content: center;
  padding: 2rem;
}
.panel-right {
  position: relative;
  justify-content: flex-end;                 /* ✅ image sticks to bottom */
  align-items: center;
  width: 50%;
  background: var(--panel-right-background); /* ✅ dynamically pulls from theme variable */
}
.hero-img {
  width: 100%;
  height: auto;
  display: block;
}

.home-title {
  font-size: 3rem;
  font-weight: 700;
}

.highlight {
  color: var(--primary-color);
}

.home-subtitle {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 1rem;
}

.typed-text {
  border-right: 2px solid #fff;
  white-space: nowrap;
  overflow: hidden;
  display: inline;
}

.home-description {
  font-size: 1.2rem;
  margin-top: 1.5rem;
  line-height: 1.6;
}

.home-buttons {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  button {
    background-color: var(--primary-color);
    border: solid var(--primary-color) 1px;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
    &:not(.outlined):hover {
      background-color: var(--background-color);
      border: solid var(--primary-color) 1px;
      color: var(--primary-color);
    }
  &.outlined {
    background-color: var(--background-color);
    border: solid var(--primary-color) 1px;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
    &:hover{
      background-color: var(--primary-color);
      color: var(--background-color);
    }
  }
}
}
@media (max-width: 768px) {
  .home-section {
    flex-direction: column;
  }
  .section-panel {
    width: 100%;
  }
  .profile-image-placeholder {
    width: 80%;
  }
  .home-buttons {
    flex-direction: column;
  }
}
