<h2 mat-dialog-title>{{ data.title }}</h2>

<mat-dialog-content class="operating-tool-artifact-dialog__content">
  <p class="operating-tool-artifact-dialog__description">{{ data.description }}</p>

  <div #artifactFrame class="operating-tool-artifact-dialog__frame">
    <img [src]="data.imageSrc" [alt]="data.title" />
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="enterFullscreen()">
    <mat-icon>fullscreen</mat-icon>
    Full screen
  </button>
  <button mat-button (click)="printArtifact()">
    <mat-icon>print</mat-icon>
    Print
  </button>
  <button mat-flat-button mat-dialog-close color="primary">Close</button>
</mat-dialog-actions>
