.toolbar-spacer {
    flex: 1 1 auto;
  }
  #homeLink {
    cursor: pointer;
  }
  .topbar-icon {
    color: #e2e8f0,
  }
  .app-selection-footer {
    display: flex;
    flex-direction: row;
  }
  .horizontal-tiles,
  .app-selection-footer {
    padding: 0 10px;
    width: auto;
  }
  .app-name,
  .app-selection-footer-spacer {
    flex: 1;
    display: flex;
  }
  #app-version {
    cursor: pointer;
  }
  .areaSelectionButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px; 
    width: 100px; 
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .buttonText {
    padding-top: 10px;
    flex: 0;
    display: flex;
    text-align: center;
  }
  .areaSelectionButton::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1); /* Adjust overlay color as needed */
    border-radius: 50%; /* Initial border radius */
    transition: border-radius 0.3s;
    opacity: 0;
    pointer-events: none;
  }
  .areaSelectionButton:hover::after {
    opacity: 1;
    border-radius: 10px; /* Desired border radius on hover */
  }
  ::ng-deep .app-selector {
    max-width: none;
    width: 400px;
  }